<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    {% block titulua %}{% endblock %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'filmenGunea/index.css' %}" />
</head>
<body>

    <h1 class="titulua">Filmen gunea</h1>

    <div class="container">
        <div class="left">
            <b>Aukerak</b>
            <ul>
                <li> 
                    <a href="{% url 'filmakIkusi' %}">Filmak ikusi</a>
                </li>
                <li>
                    <a href="{% url 'bozkatu' %}">Bozkatu</a>
                </li>
                <li>
                    <a href="{% url 'zaleak' %}">Zaleak</a>
                </li>
            </ul>
        </div>
        <div class="right">
            {% block eskubi %}{% endblock %}
        </div>
    </div>

</body>
</html>