<html>
<head>
    <title>index</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'filmenGunea/index.css' %}" />
</head>
<body>

    <h1 class="titulua">Filmen gunea</h1>

    <div class="container">
        <div class="left">
            <b>Aukerak</b>
            {% if user.is_authenticated %}
            <ul>
                <li> 
                    <a href="{% url 'filmakIkusi' %}">Filmak ikusi</a>
                </li>
                <li>
                    <a href="{% url 'bozkatu' %}">Bozkatu</a>
                </li>
                <li>
                    <a href="{% url 'zaleak' %}">Zaleak</a>
                </li>
                              
            </ul>
            <div id="logout">
                 <a href="{% url 'amaituSaioa' %}">Amaitu Saioa</a>
            </div>
            {% else %}
            <ul>
                <li> 
                    <a href="{% url 'login' %}">Sartu</a>
                </li>
                <li>
                    <a href="{% url 'register' %}">Erregistratu</a>
                </li>
            </ul>
            {% endif %}
        </div>
        <div class="right">

        </div>
    </div>

</body>
</html>
