<!DOCTYPE html>

<!-- <html lang="en" xmlns="http://www.w3.org/1999/xhtml"> -->
<head>
    <title>login</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'filmenGunea/login.css' %}" />
</head>
<body>

    <h1 class="titulua">Filmen gunea</h1>

    <div class="container">
        <div class="loginLeft">
            <b>Aukerak</b>
            <ul>
                <li> 
                    <a href="{% url 'login' %}">Sartu</a>
                </li>
                <li>
                    <a href="{% url 'register' %}">Erregistratu</a>
                </li>
            </ul>
        </div>
        <div class="loginRight">
            <h2>Ez zaude logeatuta</h2>
        </div>
    </div>

</body>
</html>