.left {
    height: 60%;
    width: 20%;
    float: left;
    background-color:azure;
}

.right {
    height: 60%;
    width: 80%;
    float: right;
}

.titulua{
    color:green;
}

.left.logout{
    position:absolute;
    bottom:0;
    left:0;
}
